body {
max-width: 1000px;
margin: 60px auto;
padding: 20px;
font-family: Arial, sans-serif;
background: white;
color: black;
line-height: 1.6;
}

nav {
margin-bottom: 40px;
}

nav a {
margin-right: 20px;
text-decoration: none;
color: black;
font-size: 14px;
}

nav a:hover {
opacity: .5;
}

h1 {
font-size: 42px;
font-weight: normal;
margin-bottom: 10px;
}

p {
font-size: 15px;
}
